/* main {
    display: block;
    width: 100%;
} */

h1 {
    font-family: tamagotchi;
}

h6 {
    margin: 20px;
    font-family: tamagotchi;
    font-size: 16px;
    margin-bottom: 5px;
}

p div {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    display: inline-flex;
    line-height: .5em;
    margin-block: 10px;
    float: right;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0;
    padding: 10px;
    float: left;
}

/* IDS------------------------------------------------------------------------------------------------------- */

#body-title {
    width: 500px;
    position: absolute;
    z-index: 90;
    top: 145px
}




