/* main {
    display: block;
    width: 100%;
} */

h2 {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    font-family: tamagotchi;
}

h6 {
    font-family: tamagotchi;
    font-size: 16px;
    margin-bottom: 5px;
}

span {
    height: 500px;
    width:  600px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 180px;
    left: 120px;
    border: solid 40px #c0c0b9;
    box-shadow: inset 0 0 20px #777777;
    border-radius: 25px;
    background-color: rgb(211, 211, 211);
}

p div {
    width: 50px;
    height: 50px;
    font-size: 16px;
    display: inline-flex;
    line-height: .5em;
    margin-block: 10px;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0;
    padding: 10px;
}

/* IDS------------------------------------------------------------------------------------------------------- */

#body-title {
    width: 500px;
    position: absolute;
    z-index: 90;
    top: 145px
}




