/* main {
    display: block;
    width: 100%;
} */

h1 {
    font-family: tamagotchi;
}

h6 {
    margin: 20px;
    font-family: tamagotchi;
    font-size: 16px;
    margin-bottom: 5px;
}

p div {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    display: inline-flex;
    line-height: .5em;
    float: right;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0;
    padding: 10px;
    float: left;
}

.about {
    font-size: 10px;
}

.screen {
    box-sizing: border-box;
    height: 500px;
    width:  600px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px;
    left: 120px;
    border: solid 40px #c0c0b9;
    box-shadow: inset 0 0 20px #777777;
    border-radius: 25px;
    background-color: lightgrey;
}

.about-div {
    height: 80px;
    width: 500px;
}

/* IDS------------------------------------------------------------------------------------------------------- */

#body-title {
    width: 500px;
    position: absolute;
    z-index: 90;
    top: 145px
}




