.image {
    position: absolute;
    top: -35px; 
    height: 30px;
    width: auto;
}
.foods{
    position: absolute;
    flex-direction: row-reverse;
    top: -35px; 
    height: 30px;
    width: auto;
    right: 0px;
}