body {
    font-family: 'Press Start 2P';
}










/* CLASSES ----------------------------------------------------------------------------------------------------------*/

.dead-pic{
    height: 264px;
    width: auto;
    position: absolute;
    top: 100px;
    left: 205px;
}

/* IDS--------------------------------------------------------------------------------------------------------------- */

#body-title {
    width: 500px;
    position: absolute;
    z-index: 90;
    top: 145px
}
