body {
    font-family: 'Press Start 2P';
}

p {
    font-size: 0.9em;
}




/* CLASSES ----------------------------------------------------------------------------------------------------------*/
.block {
    display: block;
}

.dead-pic{
    height: 264px;
    width: auto;
    position: absolute;
    top: 120px;
    left: 205px;
}

/* IDS--------------------------------------------------------------------------------------------------------------- */
#bubbles {
    display: none;
}

#body-title {
    width: 500px;
    position: absolute;
    z-index: 90;
    top: 145px
}
