.center {
    position: absolute;
    left: 50px;
}
#mini-title {
    font-size: px;
    text-align: center;
}

#shark {
    height: 160px;   
    width: auto;
}

#octopus {
    margin-top: -143px;
    height: 240px; 
    width: auto;
}